Repository elastic/beats: changes, and which Buildkite steps are due for each by the changed paths.
All: beats-xpack-packetbeat, beats-xpack-agentbeat

.buildkite/pipeline.yml:

# yaml-language-server: $schema=https://raw.githubusercontent.com/buildkite/pipeline-schema/main/schema.json

steps:

  - label: "Trigger x-pack/packetbeat"
    if: build.pull_request.id != null
    plugins:
      - monorepo-diff#v1.0.1:
          diff: "git diff --name-only origin/${GITHUB_PR_TARGET_BRANCH}...HEAD"
          interpolation: false
          watch:
            - path:
                - packetbeat/
                - x-pack/packetbeat/
                - .buildkite/x-pack/pipeline.xpack.packetbeat.yml
                - .buildkite/scripts/
                - .buildkite/hooks/
                # x-pack
                - go.mod
                - pytest.ini
                - dev-tools/
                - libbeat/
                - testing/
                - x-pack/libbeat/
              config:
                trigger: "beats-xpack-packetbeat"
                build:
                  commit: "${BUILDKITE_COMMIT}"
                  branch: "${BUILDKITE_BRANCH}"
                  env:
                    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
                    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
                    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}


  - label: "Trigger Agentbeat"
    if: build.pull_request.id != null
    plugins:
      - monorepo-diff#v1.0.1:
          diff: "git diff --name-only origin/${GITHUB_PR_TARGET_BRANCH}...HEAD"
          interpolation: false
          watch:
            - path:
                - auditbeat/
                - filebeat/
                - heartbeat/
                - metricbeat/
                - osquerybeat/
                - packetbeat/

                - x-pack/agentbeat/
                - x-pack/auditbeat/
                - x-pack/filebeat/
                - x-pack/heartbeat/
                - x-pack/metricbeat/
                - x-pack/osquerybeat/
                - x-pack/packetbeat/

                - .buildkite/x-pack/pipeline.xpack.agentbeat.yml
                - .buildkite/scripts/
                - .buildkite/hooks/
                #OSS
                - go.mod
                - pytest.ini
                - dev-tools/
                - libbeat/
                - testing/
              config:
                trigger: "beats-xpack-agentbeat"
                build:
                  commit: "${BUILDKITE_COMMIT}"
                  branch: "${BUILDKITE_BRANCH}"
                  env:
                    - BUILDKITE_PULL_REQUEST=${BUILDKITE_PULL_REQUEST}
                    - BUILDKITE_PULL_REQUEST_BASE_BRANCH=${BUILDKITE_PULL_REQUEST_BASE_BRANCH}
                    - GITHUB_PR_LABELS=${GITHUB_PR_LABELS}

[Stack Monitoring] Support Legacy URIs for _nodes/stats (#44307)
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/node_stats/node_stats.go
  metricbeat/module/elasticsearch/node_stats/node_stats_test.go
Due: beats-xpack-agentbeat

fix repo directory for apt
  docs/reference/filebeat/setup-repositories.md
Due: none

use testify to trim down socket assertions
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/metricbeat/mbreceiver/receiver_test.go
Due: beats-xpack-agentbeat

API changes
  libbeat/monitoring/inputmon/input_test.go
Due: beats-xpack-packetbeat, beats-xpack-agentbeat

[beats] add milliseconds to awscloudwatch Filebeat input #43481
  x-pack/filebeat/input/awscloudwatch/processor.go
Due: beats-xpack-agentbeat

Update CHANGELOG.next.asciidoc
  CHANGELOG.next.asciidoc
Due: none

Add files via upload
  .github/workflows/gemini-issue-comment.yml
  .github/workflows/gemini-pr-comment.yml
Due: none

addressed Dan's comments
  docs/reference/filebeat/filebeat-input-streaming.md
  x-pack/filebeat/input/streaming/config.go
  x-pack/filebeat/input/streaming/websocket.go
Due: beats-xpack-agentbeat

updated comments
  x-pack/filebeat/input/streaming/config.go
Due: beats-xpack-agentbeat

updated comments further
  x-pack/filebeat/input/streaming/websocket.go
Due: beats-xpack-agentbeat

addressed Dan's comments
  x-pack/filebeat/input/streaming/websocket.go
Due: beats-xpack-agentbeat

updated pong handler debug message log
  x-pack/filebeat/input/streaming/websocket.go
Due: beats-xpack-agentbeat

[elastic-agent-libs] Report FIPS-capability in ListAgentsResponse (#320)
  kibana/fleet.go
  kibana/fleet_test.go
  kibana/testdata/fleet_list_agents_response.json
Due: none

otel: use receivertest to test fbreceiver
  libbeat/outputs/otelconsumer/otelconsumer.go
  x-pack/filebeat/fbreceiver/receiver_test.go
Due: beats-xpack-packetbeat, beats-xpack-agentbeat

Test BK redaction
  .buildkite/auditbeat/auditbeat-pipeline.yml
Due: none

Create github-issue-triage.yml
  .github/workflows/github-issue-triage.yml
Due: none

[elastic-agent-system-metrics] FIX AIX build related issues. (#216)
  metric/system/filesystem/filesystem_unix_common.go
  metric/system/process/process_aix.go
Due: none

Update and rename github-issue-triage.yml to github-issue-triage-new-question.yml
  .github/workflows/github-issue-triage-new-question.yml
Due: none

Create github-triage-new-bug-report.yml
  .github/workflows/github-triage-new-bug-report.yml
Due: none

Update github-triage-new-bug-report.yml
  .github/workflows/github-triage-new-bug-report.yml
Due: none

Update github-issue-triage-new-question.yml
  .github/workflows/github-issue-triage-new-question.yml
Due: none

Add feature request triaging
  .github/workflows/github-issue-triage.yml
  .github/workflows/github-triage-new-bug-report.yml
Due: none

updated docs
  docs/reference/filebeat/filebeat-input-streaming.md
Due: none

[filebeat][streaming] - Added support for websocket keep_alive heartbeat, updated metrics & docs (#44204)
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-streaming.md
  x-pack/filebeat/input/streaming/config.go
  x-pack/filebeat/input/streaming/crowdstrike.go
  x-pack/filebeat/input/streaming/input_manager.go
  x-pack/filebeat/input/streaming/metrics.go
  x-pack/filebeat/input/streaming/metrics_test.go
  x-pack/filebeat/input/streaming/websocket.go
Due: beats-xpack-agentbeat

decoupled pageSize from max_workers while keeping backwards compatibility
  x-pack/filebeat/input/gcs/config.go
  x-pack/filebeat/input/gcs/input.go
  x-pack/filebeat/input/gcs/input_stateless.go
  x-pack/filebeat/input/gcs/input_test.go
  x-pack/filebeat/input/gcs/scheduler.go
  x-pack/filebeat/input/gcs/types.go
Due: beats-xpack-agentbeat

updated docs
  docs/reference/filebeat/filebeat-input-gcs.md
Due: none

updated changelog and docs
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-gcs.md
Due: none

feat(ipv6): add ipv6 address support to filebeat http endpoint (#42974)
  x-pack/filebeat/input/http_endpoint/input.go
  x-pack/filebeat/input/http_endpoint/input_test.go
Due: beats-xpack-agentbeat

x-pack/filebeat/input/http_endpoint: add fleet input status updating
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/http_endpoint/handler.go
  x-pack/filebeat/input/http_endpoint/handler_test.go
  x-pack/filebeat/input/http_endpoint/input.go
Due: beats-xpack-agentbeat
